* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  header,
  footer,
  nav,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 14;
    font-weight: 400;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  h1, h2, h3 {
    font-family: 'PT Serif', serif;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    margin: 0;
  }
  a,
  a:visited {
  text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul,
  li {
    list-style: none;
  }
  img {
      vertical-align: top;
  }
  p {
    width: auto;
    overflow-wrap: break-word;
  }
  body {
    background-color: rgba(231, 224, 214, 0.406);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .wrapper {
  
  }
  .header {
      width: 100%;
      border: 0;
      text-align: center;
  }
  .container {
      max-width: 1230px;
      padding: 0 15px;
      margin: 0 auto;
  }
  /*font-family: 'PT Serif', serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  .header__logo {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .menu__list {
    display: flex;
    justify-content: center;
    height: 100px;
    border-right: solid 1px #888888;
    border-top: solid 1px #888888;
  }
  .menu__list-item {
      width: 300px;
      margin: auto;
  }
  .menu__list-link {
    display: block;
    padding: 34px 10px 38px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #5a353522;
    color: #1d1d1d;
    border-left: solid 1px #888888;
    border-bottom: solid 1px #888888;
  }
  .menu__list-link--activ,
  .menu__list-link:hover {
    background-color: #5c5656;
    color: white;
    transition: all 0.6s;
  }
.slider__item {
  background-image: url(/assets/img/interior-slider.jpg);
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.slick-arrow {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}
.search__wrapper {
  padding: 60px 0 70px;
}
.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__form-label {
  width: 180px;
  margin: 11px 45px 11px 0;
  color: #1d1d1d;
  font-size: 30px;
}
.search__form-input {
  height: 70px;
  width: 430px;
  padding: 0 15px;
  border: 2px solid #888888;
  background-color: inherit;
  font-size: 24px;
}
.search__form-input::placeholder {
  color: #888888;
  font-size: 24px;
}
.search__form-btn {
  position: relative;
  color: white;
  font-size: 24px;
  padding: 20.5px;
  padding-left: 36px;
  background: #5a35355d;
}
.search__form-btn:hover {
  background: #5c5656;
  transition: all 0.6s;
}
.search__form-btn::before {
  position: absolute;
  top: 26px;
  left: 9px;
  content: '';
  width: 18px;
  height: 18px;
  background-image: url(/assets/svg/search-icon.svg);
}
.popular {
  text-align: center;
}
.popular__title {
  text-align: center;
  padding: 8px 15px;
  margin: 0 0 50px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 64px;
  font-size: 40px;
  font-weight: 100;
  color:rgb(231, 224, 214);
  background-color: #1d1d1d;
}
.popular__wrapper {
  display: flex;
  justify-content: space-between;
}
.popular__img{
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10%;
}
.popular__item-title {
  padding: 30px 10px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.popular__link {
  width: 150px;
  height: 50px;
  padding: 13px 48px;
  text-decoration: none;
  color: #1d1d1d;
  background-color: #5a35355a;

}
.popular__link:hover {
  color: white;
  background: #5c5656;
  transition: all 0.6s;
}
.advantages {
  margin: 120px 0;

}
.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  height: 292px;
}
.advantages__item {
  width: 470px;
  
}

.advantages__item-title {
  position: relative;
  padding-left: 136px;
  font-family: 'PT Serif';
  font-size: 36px;
  line-height: 36px;
}
.advantages__item-text {
  margin: 20px 0 45px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  line-height: 24px;
}
.advantages__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 103px;
}
.advantages__item-title--icon-time::before {
  background-image: url(/assets/png/watch-icn.png);
}
.advantages__item-title--icon-world::before {
  background-image: url(/assets/png/world-icn.png);
}
.advantages__item-link {
  position: relative;
  padding-left: 36px;
}
.advantages__item-link::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 36px;
  height: 36px;
  background-image: url(/assets/svg/arrow-black.svg);
  background-repeat: no-repeat;
}
.cottage__wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: right;

}
.cottage__title {
  min-width: 462px;
  padding-top: 70px;
  text-align: right;

  font-family: 'PT Serif';
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: white;
}
.cottage__link {
  display: inline-block;
  width: 150px;
  padding: 17px;
  margin-top: 20px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  line-height: 18px;
  color: white;
  background-color: #6e6969;
}
.cottage__link:hover {
  background-color:#1d1d1d;
}